<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swolf.libraryimgglide">
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入SDCard数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读出SDCard数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application></application>

</manifest>